@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@200&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: linear-gradient(45deg, #f0e7ee 44.12%, #e8d6de 44.12%, #e8d6de 50%, #f0e7ee 50%, #f0e7ee 94.12%, #e8d6de 94.12%, #e8d6de 100%);
    background-size: 51.00px 51.00px;
    font-family: 'Poppins', sans-serif;
}
