@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@200&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #f9ecde;
    font-family: 'Poppins', sans-serif;
}

