.hompage__heading {
    font-family: 'Roboto Mono', monospace;
}

@media all and (min-width: 600px) {

.hompage__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hompage__heading {
    font-size: 3rem;
}
.homepage__right-box,
.homepage__left-box
 {
    width: 50%;
    height: 100%
}

.homepage__left-box {
    text-align: center;
}

.img-profile {
    object-fit: cover;
    height: 100%
}
}