@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.navbar {
    font-family: 'Roboto Mono', monospace;
    height: 120px;
        margin-bottom: 10px;
}

.navbar__list {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.hide {
    display: none;
    visibility: hidden;
 }


.navbar__link-container {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    padding: 0 10px;
    background: red;
}

.name__box {
        border: black 4px solid;
        font-size: 1rem;
        padding: 0.5rem;
        font-family: 'Poppins', sans-serif;
        background-color: #ffffff;
        margin-left: 10px;
    }

    .navbar__links {
        color: black;
        font-size: 1.4rem;
    }

    .active__link{
        border-bottom: 0.5px solid black;
    }


    @media all and (min-width: 600px) {
        .navbar__links {
            justify-content: space-between;
        }
        .navbar__link-container {
            flex-direction: row;
            width: 50%;
        }
    }